<!DOCTYPE html>
<html>
    <head>
        <style type="text/css">
            html, body {
                height: 100%;
            }

            html {
                display: table;
                margin: auto;
            }

            body {
                display: table-cell;
                vertical-align: middle;
            }
        </style>
    </head>
    <body>
        <h1>
            Good job buddy, here is your result:
        </h1>
        <img  src='data:image/png;base64,{{ prediction }}'>
    </body>
</html>